.timer_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.timer_container {
  width: fit-content;
}
.timer {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--gray);
}
.text_container {
  max-width: 30rem;
  margin-left: 3rem;
}
.link {
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .timer_wrapper {
    grid-template-columns: 1fr;
  }
}
