:root {
  --primary-light: #6EBF8B;
  --primary-shade: #d4f1de;
  --accent: #BF6EA2;
  --background: #f1f0f0;
  --text-white: white;
  --text-light: white;
  --text-black: black;
  --text-dark: #143109;
  --gray-light: #c5c5c5;
  --gray: gray;
}
